@import '../../../styles/mixins/flex';


.messagesContainer {
    overflow-y: scroll;
    padding-bottom: 20px;
    height: calc(100vh - 233px);
}

.centredContainer {
    height: calc(100vh - 253px);
    @include flexCenter(row);
}