$appColor: rgb(2, 180, 2);

$dangerColor: red;
$dangerHoverColor: rgb(211, 0, 0);

$primaryColor: black;
$primaryContrastColor: #1e1e20;
$secondaryColor: white;
$secondaryContrastColor: rgb(212, 212, 212);

$wrapperBorderColor: rgb(61, 61, 61);
$messagesListBgColor: rgb(38, 45, 49);
$navLinkHoverColor: rgb(0, 194, 253);
$messageBorderColor: rgb(87, 87, 87);