@import '../../../styles/mixins/flex';
@import '../../../styles/variables/colors';
@import '../../../styles/mixins/mediaQueries';


.normalContainer {
    width: 100%;
    min-height: calc(100vh - 152px);
    background-color: $primaryColor;
}

.globalContainer {
    width: 100%;
    padding: 0 20px;
    overflow: scroll;
    margin: 25px auto;
    height: calc(100vh - 150px);
    background-color: $primaryColor;
    border: 1px solid $wrapperBorderColor;
}

.centredContainer {
    @include flexCenter(column);
    min-height: calc(100vh - 152px);
}


@include screen (surfaceDuo) {
    .globalContainer {
        width: map-get($levels, surfaceDuo);
    }
}